@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* container  */
  --spacing-mContainer: 1320px; 
  /* container  */

  /* font */
  --font-jost: "Jost", sans-serif; 
  /* font */
  
  /* color */
  --color-hoverC: #262626; 
  --color-bgColor: #F5F5F3; 
  --color-footer:#F5EFFF;
  --color-textC:#222222;
  /* color */
  --radius-10: 10px; 
}
body{
    background-color:#ffff;
    
}
